<!DOCTYPE html>
<html>
<head><title>Профиль</title></head>
<body>
  <h2>Профиль {{ request.user.username }}</h2>
  <img src="{{ profile.avatar.url }}"
       width="150" height="150"
       style="
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        object-position: center;
        "
       alt="Аватар">

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
  </form>

  <p><a href="{% url 'home' %}">На главную</a></p>
</body>
</html>
